@import url(./__author/card__author.css);
@import url(./__title/card__title.css);
@import url(./__text/card__text.css);

.card {
  font-family: 'Inter';
  background-color: #FFF;
  border-radius: 16px;
  cursor: pointer;
  box-sizing: border-box;
  transition: box-shadow .3s ease-out;
  width: 288px;
  min-height: 264px;
  padding: 16px;
  position: relative;
}

.card:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
}
