.author-info__other-info {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1A1B22;
  margin-top: 0;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 2px;
}
